.book-list-item {
  min-width: 150px;
  max-width: 320px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__author {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    &::before {
      content: '- ',
    }
  }
  &__img {
    margin-right: 10px;
    margin-bottom: 20px;
    img {
      width: 100px;
      border-radius: 10px;
      border: 1px solid #000;
    }
  }
  &__price {
    &::before {
      content: '$'
    }
  }
  .btn {
    margin-top: 22px;
  }
}